{% extends 'layouts/baselogin.html'%}
{% block content %}

<h1 class="font-italic"> <kbd class="alert-primary"> Sign-up</kbd>  </h2>
    <div class="col">
    
    <h5> E-mail adress or login:</h5>
    <input type="email"   placeholder="Enter email"  size="20" maxlength="20"  >
    <h5 class="top"> Password:</h5>
    <input type="password"  placeholder="Password" size="20" maxlength="20">
    <h1> 

    </h1>
    <button class="btn btn-success"> <h4> <a href="{% url 'question' 2%}"> Sign up</a></h2></button>
    </div>
{% endblock %} 

